@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--pale-blue: 52, 76, 109; /* #344c6d */
	--dark-blue: 23, 50, 87; /* #173257 */
	--blue: 23, 75, 162; /* #174ba2 */
	--light-blue: 64, 110, 197; /* #406ec5 */
	--soft-gray: 241, 243, 247; /* #f1f3f7 */
	--smoky-blue: 248, 249, 250; /* #f8f9fa */
	--md-gray: 227, 231, 237; /* #e3e7ed */
	--green: 41, 191, 18; /* #29bf12 */
	--sky-blue: 61, 145, 231; /* #3d91e7 */
	--red: 246, 69, 44; /* #f6452c */

	/* --font-hikasami: */
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

@theme {
	--color-soft-gray: rgb(var(--soft-gray));
	--color-dark-blue: rgb(var(--dark-blue));
	--color-pale-blue: rgb(var(--pale-blue));
	--color-smoky-blue: rgb(var(--smoky-blue));
	--color-blue: rgb(var(--blue));
	--color-light-blue: rgb(var(--light-blue));
	--color-md-gray: rgb(var(--md-gray));
	--color-green: rgb(var(--green));
	--color-sky-blue: rgb(var(--sky-blue));
	--color-red: rgb(var(--red));
}

body {
	background: var(--background);
	color: var(--foreground);

	font-family: "Hikasami", sans-serif;
	font-weight: 500;
}

@font-face {
	font-family: "Hikasami";
	src: url("@/assets/fonts/Hikasami-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Hikasami";
	src: url("@/assets/fonts/Hikasami-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Hikasami";
	src: url("@/assets/fonts/Hikasami-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Hikasami";
	src: url("@/assets/fonts/Hikasami-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
